@mixin fade($start, $finish){
	from { opacity: $start; }
	to { opacity : $finish; }
}

$timeIn: 4s;

#container {
	background-color: #9CC5C7;
	color: #fff;
}

.big {
	-webkit-animation: 	fadeIn $timeIn; 	/* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 	fadeIn $timeIn; 		/* Firefox < 16 */
    -ms-animation: 		fadeIn $timeIn; 		/* Internet Explorer */
    -o-animation: 		fadeIn $timeIn; 		/* Opera < 12.1 */
    animation: 			fadeIn $timeIn;
}

@-webkit-keyframes 	fadeIn { @include fade(0, 1) }
@-moz-keyframes 	fadeIn { @include fade(0, 1) }
@-o-keyframes 		fadeIn { @include fade(0, 1) }
@keyframes 			fadeIn { @include fade(0, 1) }
